/*字体图标引入*/

@font-face {
    font-family: "weijinsuo";
    src: url("../font/MiFie-Web-Font.eot") format('embedded-opentype'), url("../font/MiFie-Web-Font.svg") format('svg'), url("../font/MiFie-Web-Font.ttf") format('truetype'), url("../font/MiFie-Web-Font.woff") format('woff');
}


/*字体图标都用i标签 字体图标使用*/

.icon {
    font-family: "weijinsuo";
    font-style: normal;
    font-weight: normal;
}

.icon.icon-mobilephone::before {
    content: '\e908';
    font-size: 13px;
}

.icon.icon-telephone::before {
    content: '\e909';
    font-size: 13px;
}


/*样式拓展*/

.btn-register {
    color: #ffffff;
    background-color: #E9232C;
    border-color: #DB3B4C;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #ffffff;
    background-color: #E9232C;
    border-color: #DB3B4C;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
    background-color: #E9232C;
    border-color: #DB3B4C;
}

.btn-register .badge {
    color: #E9232C;
    background-color: #ffffff;
}


/*头部通栏*/

#header {
    height: 200px;
}

#header>.topbar {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
}


/*兄弟选择器*/

#header>.topbar>.container>.row>div+div {
    border-left: 1px solid #e0e0e0;
}

#header>.topbar>.container>.row>div .text-muted {
    font-size: 12px;
}

.link-login {
    margin-left: 10px;
}


/*#header>.topbar>.container>.row>div {
    height: 40px;
    background-color: #f40;
}

#header>.topbar>.container>.row>div:nth-child(2n) {
    background-color: blueviolet;
}*/


/*测试样式*/

body>section {
    height: 200px;
    background: #e43c3c;
}

body>section:nth-of-type(2n) {
    background-color: #f40;
}